@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&family=Ubuntu:wght@400;500;700&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Overpass', sans-serif; /* Default for body */
}
